<div class="d-flex justify-content-between align-items-center">
  <div><h1>Listado de Vehículos</h1></div>
  <div>
    <%= link_to "Añadir Vehículo", new_car_path, class: "btn btn-success" %>
  </div>
</div>
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col" width="25%">Número de Placa</th>
      <th scope="col" width="25%">Modelo</th>
      <th scope="col" width="25%">Año</th>
      <th scope="col" width="25%">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td class="align-middle"><%= car.plate_number %></td>
        <td class="align-middle"><%= car.model %></td>
        <td class="align-middle"><%= car.year %></td>
        <td class="align-middle">
          <div class="d-flex justify-content-center align-items-center">
            <div class="w-25">
              <%= link_to "Detalle", car_path(car), class: "btn btn-primary" %>
            </div>
            <div class="w-25">
              <%= link_to "Editar", edit_car_path(car), class: "btn btn-warning" %>
            </div>
            <div class="w-25">
              <%= link_to "Borrar", car_path(car), data: { turbo_method: :delete }, class: "btn btn-danger" %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>