<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Gestión de Vehículos" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="https://cdn-icons-png.flaticon.com/128/1399/1399166.png" type="image/png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%# Navbar %>
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="https://cdn-icons-png.flaticon.com/128/1399/1399166.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
          Gestión de Vehículos
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to "Vehículos", cars_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Servicios de Mantenimiento", maintenance_services_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Usuarios", users_path, class: "nav-link" %>
            </li>
            <% if current_user %>
              <li class="nav-item">
                <%= link_to current_user.name, current_user, class: "nav-link"%>
              </li>
              <li>
                <%= link_to "Cerrar Sesión", sessions_path, data: { turbo_method: :delete }, class: "btn btn-danger" %>
              </li>
            <% else %>
              <li class="px-2">
                <%= link_to 'Iniciar Sesión', new_sessions_path, class: "btn btn-primary" %>
              </li>
              <li>
                <%= link_to 'Registrarse', new_user_path, class: "btn btn-primary" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </head>

  <body>
    <div class="m-3">
      <% if flash[:notice] %>
        <div class="alert alert-success alert-dismissible fade show text-center">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="alert alert-danger alert-dismissible fade show text-center">
          <%= flash[:alert] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
